html {
  font-family: "Poppins", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 375px;
  max-width: 100%;
  background-color: #f1f0f0;
  overflow-x: hidden;
}

.modal {
  display: none;
}

.modal.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #c1c7d0d5;
  z-index: 2000;
  padding: 1em;
  overflow-y: initial !important;
}

.modal-container {
  flex-wrap: wrap;
  background-color: #fff;
  color: #000;
  padding: 1em;
  border-radius: 1em;
  height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  right: 2em;
  cursor: pointer;
}

.see-live > img,
.see-source > img {
  margin-left: 0.5em;
}

.see-live,
.see-source {
  width: fit-content;
  border-radius: 0.5em;
  margin-right: 1em;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

#work-sample-image {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: unset;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  transition: transform 1s;
}

button:enabled {
  border: 0.1em solid #7f8cff;
  background: #fff;
  color: #6070ff;
}

button:hover {
  background: #6070ff;
  color: #fff;
  border: unset;
  cursor: pointer;
  transform: perspective(150px)   translateZ(20px);
}

button:active {
  background: #2230d2;
  color: #fff;
  border: unset;
}

button:disabled {
  background: #fff;
  color: #5e6c84;
  border: 0.1em solid #e5e5e5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.header-logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  line-height: 20px;
  padding: 3px 5px;
}

.menu-icon {
  height: auto;
  padding: 3px 5px;
}

.menu-icon:hover {
  cursor: pointer;
}

.nav-items {
  display: none;
}

.nav-items.show {
  position: fixed;
  top: 0;
  background-color: #6070fff5;
  width: 100%;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 10001;
  padding-left: 0.5em;
  padding-top: 2em;
}

header > nav > a:hover {
  text-decoration: underline;
}

.nav-items.show > a {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  cursor: pointer;
  padding-left: 0.5em;
  margin-bottom: 1em;
  text-decoration: none;
}

.nav-items.show a:first-child {
  text-align: end;
  padding-right: 1em;
}

h1 {
  color: #1193f6;
}

.menubar {
  background-color: transparent;
  margin-right: 0.5em;
}

main {
  min-height: 85vh;
}

.content {
  min-height: 80vh;
  padding: 0 1em;
  max-width: 768px;
}

.content > h1 {
  margin-top: 2.5em;
  margin-bottom: 0;
  width: 327px;
  max-width: 100%;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.content > div > p {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.content > h4,
.about-details > h4 {
  padding-top: 0;
  margin-bottom: 0;
  height: 24px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.img-social {
  height: 1.3em;
  width: 1.3em;
}

.img-social:hover {
  transition: 1s all;
  scale: 1.2;
}

.home-background {
  background-image: url('../images/backgrounds/header-shapes mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5em;
  border-radius: 0 0 0 5em;
  background-color: #fff;
  min-height: 35em;
  display: flex;
  justify-content: center;
}

#about {
  margin-bottom: 1em;
  background-color: #fff;
  padding: 1em;
  padding-bottom: 10em;
  min-height: 90vh;
  border-radius: 0 5em 0 0;
  justify-content: center;
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 1em;
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  margin-bottom: 5em;
}

.work-grid {
  display: grid;
  grid-template:
    '.'
    '.'
    '.';
}

.project-title {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.flex-list {
  display: inline-flex;
  padding: 0;
  margin-top: 0.3em;
}

.project-date-list {
  margin-bottom: 0.5em;
}

.project-date-list > li {
  margin-right: 0.5em;
}

.project-date-list > li > h5 {
  /* Caption / 1 - Bolder */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  display: contents;
}

.project-date-list > li > label {
  /* Caption / 1 - Bolder */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-description {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 0.5em;
}

.project-button-group {
  display: flex;
  margin-bottom: 1em;
}

.project-button-group > li {
  margin-right: 0.3em;
}

.project-button-group > li > span {
  /* Button / Small */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: #f0f0f0;
  border: unset;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.project-button-group > li > span:hover {
  color: #6070ff;
  background-color: #eae9e9;
}

.project-button {
  /* Button /Normal */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fefefe;
  color: #396df2;
  border: #396df2 solid 0.1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.about-details > h2 {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: 2em;
}

.about-details > div > p {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 1em;
}

.content > ul > li,
.about-details > ul > li {
  margin-right: 20px;
}

.about-details > ul,
.about-details > div > button {
  margin-top: 1em;
}

.tech-stack {
  padding: 0 0.5em;
}

.stack-area {
  border-bottom: 0.2em solid #f0f0f0;
  padding: 1em 0.5em;
  margin: 0.1em 0;
}

.stack-title {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.stack-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3em;
}

.grid-item-icon {
  grid-area: box;
  padding: unset;
  margin: unset;
}

.grid-item-text {
  /* grid-area: box; */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  padding-left: unset;
  margin-left: unset;
  grid-column: 2 / span 25;
}

.grid-container {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #f0f0f0;
  display: grid;
  grid-template: 'box auto';
}

.hidden,
.desktop {
  display: none;
}

.mobile {
  display: block;
}

.contact-section {
  width: 100%;
  background-color: #6070ff;
  border-top-left-radius: 7em;
}

.contact-background {
  background-image: url('../images/backgrounds/contact-form-shapes.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  min-height: 90vh;
  padding: 2em 2em 0 2em;
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  margin-bottom: 0;
  background-position: right 15px;
  background-repeat: no-repeat;
  max-width: 30em;
}

.input-group {
  width: 100%;
}

.contact-form > h2 {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-form-paragraph {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 2em;
}

.contact-form > .input-group > input,
.contact-form > .input-group > textarea {
  /* Mono/White */
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.contact-form > .input-group > textarea {
  min-height: 12em;
}

.form-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.form-submit-button {
  background: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  outline: none;
  margin: 20px 0;
  color: #6070ff;
  padding: 15px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #7f8cff;
}

.form-submit-button:hover {
  border: 1px solid #7f8cff;
  border-radius: 8px;
  background: #6070ff;
  color: #fff;
}

.form-submit-button:disabled {
  color: #5e6c84;
  background: #ffff;
  border: 1px solid #7f8cff;
}

.form-submit-button:focus {
  color: #fff;
  background: #2230d2;
}

.project-img > img {
  width: 100%;
}

.warning {
  color: #ac0b0b;
  font-size: larger;
}

.shake {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-direction: normal;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}
