html {
  font-family: "Poppins", serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 375px;
  max-width: 100%;
  background-image: url('assets/images/header-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  color: #1193f6;
}

header > nav {
  display: flex;
  padding: 0.3em 1em;
}

header > nav > a {
  text-decoration: none;
  width: 76px;
  height: 20px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

header > nav > a:hover {
  text-decoration: underline;
}

header > nav > button {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 2em;
}

header > nav > button:hover {
  background-color: #fff;
  cursor: pointer;
}

main {
  min-height: 85vh;
}

.content {
  min-height: 80vh;
  z-index: 1;
  position: absolute;
  padding: 0 1em;
}

.content > h2 {
  margin-top: 3.5em;
  margin-bottom: 0;
  width: 327px;
  max-width: 100%;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content > p {
  margin-top: 0;
  max-width: 327px;
  width: 100%;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content > h4 {
  padding-top: 0;
  margin-bottom: 0;
  height: 24px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 0.2em;
}

.content > ul > li {
  margin-right: 15px;
}

.content > ul > li > a > img {
  height: 1em;
  width: 1em;
}

.ellipse11 {
  position: absolute;
  top: 5em;
  transform: rotate(0.88deg);
}

.ellipse8 {
  box-sizing: border-box;
  position: absolute;
  right: 8em;
  top: 4em;
  border: 1px solid #cbcdff;
}

.ellipse5 {
  position: absolute;
  left: 7.2em;
  top: 7em;
  transform: rotate(52.97deg);
}

.rect7 {
  position: absolute;
  left: 7.1em;
  top: 6.4em;
}

.ellipse12 {
  position: absolute;
  right: 2em;
  top: 31em;
}

.ellipse13 {
  position: absolute;
  right: 2.5em;
  top: 31.8em;
}

.ellipse14 {
  box-sizing: border-box;
  position: absolute;
  right: 5em;
  top: 17em;
  border: 1px solid #cbcdff;
}

.ellipse15 {
  box-sizing: border-box;
  position: absolute;
  left: 2.5em;
  top: 36em;
  border: 1px solid #cbcdff;
}

.ellipse4 {
  position: absolute;
  right: 30%;
  top: 35em;
}

.rect5 {
  position: absolute;
  right: 31%;
  top: 34.8em;
}

.ellipse3 {
  position: absolute;
  right: 0;
  top: 7.1em;
}

.rect4 {
  position: absolute;
  right: 0;
  top: 5em;
}

.rect6 {
  position: absolute;
  left: -34px;
  top: 141.49px;
  transform: rotate(-46.14deg);
}
